@charset "utf-8";

/**** layout ****/

/* #header/#gnb common */
#header,
#header::before {width: 100%; height: 100px; transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);}

#header h1,
#header .lang_list {top: 50%; transform: translateY(-50%);}

/* #header/#gnb */
#header {z-index: 100; top: 0; left: 0; color: #fff;}
#header::before {content: ''; display: block;}
#header h1 {left: 15px;}
#header h1 a {width: 241px; height: 100px; background: url(../img/common/img_hd_logo.png) no-repeat center center;}

#gnb {z-index: 50; overflow: hidden; top: 0; left: 26.5%; height: 100px; transition: height .6s cubic-bezier(0.23, 1, 0.32, 1);}
#gnb .gnb_depth1 > li {width: 132px; text-align: center;}
#gnb .gnb_depth1 > li + li {margin-left: 5px;}
#gnb .gnb_depth1 > li > a {display: block; position: relative; line-height: 100px; font-size: 15px; transition: line-height .6s cubic-bezier(0.23, 1, 0.32, 1);}
#gnb .gnb_depth1 > li.on > a::after {content: ''; position: absolute; top: 68px; left: 50%; width: 90px; height: 2px; margin-left: -45px; background-color: #000; transition: top .6s cubic-bezier(0.23, 1, 0.32, 1);}

#gnb .gnb_depth2 {padding-top: 7px; opacity: 0;}
#gnb .gnb_depth2 li + li {margin-top: 15px;}
#gnb .gnb_depth2 li a {display: block; font-size: 14px;}
#gnb .gnb_depth2 li.on,
#gnb .gnb_depth2 li a:hover {text-decoration: underline;}

#header .lang_list {right: 30px;}
#header .lang_list li + li::before {content: ''; display: inline-block; width: 1px; height: 10px; margin: 0 15px 0 14px; background-color: #fff; opacity: .4;}
#header .lang_list li a {font-size: 14px; opacity: .4;}
#header .lang_list li.on a {padding-bottom: 3px; border-bottom: 2px solid #fff; opacity: 1;}

/* change #header/#gnb style */
#header.down,
#header.open {color: #000;}
#header.down::before,
#header.open::before {border-bottom: 1px solid #d9d9d9; background-color: #fff;}
#header.down h1 a,
#header.open h1 a {background-image: url(../img/common/img_hd_logo_b.png);}
#header.down .lang_list li + li::before,
#header.open .lang_list li + li::before {background-color: #000;}
#header.down .lang_list li.on a,
#header.open .lang_list li.on a {border-color: #000;}

#header.down,
#header.down::before,
#header.down h1 a,
#header.down #gnb {height: 60px;}
#header.down #gnb .gnb_depth1 > li > a {line-height: 60px;}
#header.down.open #gnb .gnb_depth1 > li.on > a::after {top: 48px;}

#header.open::before,
#header.open #gnb {height: 452px !important;}
#header.open #gnb .gnb_depth2 {opacity: 1;}

/* #footer */
#footer {background-color: #212121; font-size: 14px; color: #808080;}
#footer .ft_util {border-bottom: 1px solid #333;}
#footer .ft_util .family {top: 0; right: 0; width: 170px;}
#footer .ft_util .family .btn_link_toggle {width: 100%; padding: 24px; background: url(../img/common/ico_ft_family_plus.png) no-repeat right 24px center; font-size: 15px; color: #fff; text-align: left; box-sizing: border-box;}
#footer .ft_util .family .btn_link_toggle.on {background-color: #141414; background-image: url(../img/common/ico_ft_family_minus.png);}
#footer .ft_util .family .btn_link_toggle.on + ul {display: block;}
#footer .ft_util .family ul {display: none; right: 0; bottom: 100%; left: 0; padding: 20px 0 10px; background-color: #141414;}
#footer .ft_util .family ul li + li {margin-top: 5px;}
#footer .ft_util .family ul li a {display: block; height: 35px; line-height: 35px; padding: 0 24px; font-size: 15px; color: #fff;}

#footer .ft_util .info_list {padding: 24px 0;}
#footer .ft_util .info_list li {margin-right: 40px;}

#footer .ft_company {padding: 27px 0 24px;}
#footer .ft_company .ft_logo {margin: 0 43px 30px 0;}
#footer .ft_company address span {display: inline-block; margin-right: 14px;}
#footer .ft_company .txt_copyright {margin-top: 4px;}

/**** main ****/

/* main common */
.main_content > .txt_tit {position: relative; width: 100%; max-width: 1000px; margin: 0 auto; padding-left: 80px; font-size: 64px; font-family: 'cjTitle';}
.main_content > .txt_tit::before {content: ''; position: absolute; top: 50%; left: 0; width: 60px; height: 4px; margin-top: -2px; background-color: #000;}
.main_content > .btn_more {width: 205px; height: 55px; line-height: 55px; margin: 50px auto 0; padding-left: 36px; border: 2px solid #000; background: url(../img/main/ico_more.png) no-repeat right 24px center; box-sizing: border-box;}

/* main #home */
#home {height: 750px; margin-bottom: 150px; background: url(../img/main/bg_visual.jpg) no-repeat center center; background-size: cover; color: #fff;}
#home video {width: 100%;}
#home .txt_center {padding: 70px 0;}
#home .bg_frame_light {left: 50%; width: 510px; height: 60px; margin-left: -255px;}
#home .bg_frame_light:nth-child(1) {top: 0; border-bottom: 0;}
#home .bg_frame_light:nth-child(2) {bottom: 0; border-top: 0;}
#home .bg_frame_light:nth-child(1)::after {top: -1px; left: -1px; border-top: 1px solid #fff; border-left: 1px solid #fff;}
#home .bg_frame_light:nth-child(2)::after {bottom: -1px; right: -1px; border-bottom: 1px solid #fff; border-right: 1px solid #fff;}
#home .tit {font-size: 64px; font-family: 'cjTitle';}
#home .tit + p {margin-top: 10px;}
#home .tit + p > br:nth-child(1),
#home .tit + p > br:nth-child(3) {display: none;}
#home .ico_scroll {bottom: 30px; left: 50%; width: 36px; height: 50px; margin-left: -18px; background: url(../img/main/ico_scroll.png) no-repeat center center;}

/* main #onAir */
#onAir {margin-bottom: 140px; padding-bottom: 65px;}
#onAir .bg_frame_dark {top: 90px; right: -1px; width: 73.5%; height: 740px;}
#onAir .bg_frame_dark::after {bottom: -1px; left: -1px; border-bottom: 1px solid #000; border-left: 1px solid #000;}
#onAir ul {width: 100%; margin: 18px auto 0;}
#onAir ul li {width: 410px;}
#onAir ul li + li {margin-left: 34px;}
#onAir ul li a {display: block;}
#onAir ul li .txt_area {padding: 25px 30px 0;}
#onAir ul li .txt_area .tit {display: block; font-size: 30px; font-weight: 400;}
#onAir ul li .txt_area .desc {color: #666;}

/* add slick to #onAir */
#onAir ul.slick-slider .slick-arrow {overflow: hidden; position: absolute; top: calc(100% + 55px); left: 50%; width: 24px; height: 10px; background: url(../img/common/btn_arr.png) no-repeat left center; text-indent: -9999px; transform: translateX(-50%);}
#onAir ul.slick-slider .slick-prev {margin-left: -40px;}
#onAir ul.slick-slider .slick-next {margin-left: 40px; background-position: right center;}

/* main #works */
#works {margin-bottom: 150px;}
#works .bg_frame_dark {top: 90px; left: -1px; width: 73.5%; height: 62%;}
#works .bg_frame_dark::after {top: -1px; right: -1px; border-top: 1px solid #000; border-right: 1px solid #000;}
#works .inner {padding: 25px 0;}
#works ul {width: 50%;}
#works ul li {position: relative;}
#works ul li a {display: block;}
#works ul li a img {width: 100%;}
#works ul li a .detail {opacity: 0; transition: opacity .6s cubic-bezier(0.23, 1, 0.32, 1);}
#works ul li a:hover .detail {opacity: 1;}
#works ul li a .detail strong {padding-top: 65px; background: url(../img/main/ico_works_plus.png) no-repeat center top; font-size: 30px; font-weight: 400; color: #fff;}
#works ul li .txt_tit {position: absolute; transform: rotate(90deg);}

#works .left_area li .txt_tit {top: 0; left: -10px; transform-origin: 0 0;}
#works .right_area {margin-top: 30px;}
#works .right_area li:nth-child(1) .txt_tit {top: -31px; right: 0; transform: rotate(0);}
#works .right_area li:nth-child(2) .txt_tit {top: 64px; right: -10px; transform-origin: 100% 100%;}
#works .right_area li:nth-child(3) .txt_tit {right: -10px; bottom: 0; transform-origin: 100% 100%;}

/* main #issue */
#issue {margin-bottom: 130px;}
#issue .bg_frame_light {top: 60px; right: -1px; width: 76%;}
#issue .bg_frame_light::after {top: -1px; left: -1px; border-top: 1px solid #fff; border-left: 1px solid #fff;}
#issue a {height: 410px; background: url(../img/main/bg_issue.jpg) no-repeat center center; background-attachment: fixed; color: #fff;}
#issue a p .tit {margin-bottom: 5px; font-size: 34px;}
#issue a p .tit + span {font-size: 20px;}
#issue a p .tit + span > br {display: none;}

/* main #news */
#news {margin-bottom: 150px;}
#news table {margin-top: 25px;}

/* main #pageNav */
#pageNav {top: 100px; bottom: 0; left: 0; width: 70px; background-color: #fff; transition: top .6s cubic-bezier(0.23, 1, 0.32, 1);}
#pageNav .indicator {top: 50%; transform: translateY(-50%);}
#pageNav .indicator li + li {margin-top: 30px;}
#pageNav .indicator li a {display: inline-block; position: relative; line-height: 70px; font-size: 14px; color: #666; vertical-align: middle; writing-mode: vertical-rl; -ms-writing-mode: tb-rl;}
#pageNav .indicator li a:hover,
#pageNav .indicator li.on a {font-weight: 700; color: #000;}
#pageNav .indicator li.on a::before {content: ''; position: absolute; top: 50%; left: 0; margin-top: -6px; border: 6px solid transparent; border-left: 7px solid #000;}

/* change #pageNav style */
#header.down ~ #container #pageNav {top: 0;}
#header.down ~ #container #pageNav.bottom {top: -200px;}

/**** sub ****/

/* sub common */
.sub_visual {height: 330px; padding-top: 100px; background-repeat: no-repeat; background-position: top center; background-attachment: fixed;}
.sub_visual .txt_tit {z-index: 10; padding-top: 100px; font-size: 64px; font-family: 'cjTitle'; color: #fff;}
.sub_visual .bg_frame_light {top: 100px; right: -1px; width: 85%;}
.sub_visual .bg_frame_light::after {top: -1px; left: -1px; border-top: 1px solid #fff; border-left: 1px solid #fff;}

#breadcrumb {z-index: 10; top: 100px; left: 0; width: 70px; height: 330px; padding-top: 30px; background-color: #fff; font-size: 0; writing-mode: vertical-rl; -ms-writing-mode: tb-rl; box-sizing: border-box;}
#breadcrumb > * {display: inline-block; line-height: 70px; font-size: 13px;}
#breadcrumb > a {width: 16px; height: 14px; background: url(../img/sub/ico_breadcrumb_home.png) no-repeat center center;}
#breadcrumb > span {margin-top: 12px; padding-top: 16px; background: url(../img/sub/ico_breadcrumb_arr.png) no-repeat center top; color: #a3a3a3;}
#breadcrumb > span:last-child {color: #000;}

.sub_content {padding: 80px 0 150px;}

/* sub about contact */
.about .sub_visual {background-image: url(../img/sub/bg_visual_about.jpg);}
.about .

/* sub newsroom notice */
.newsroom .sub_visual {background-image: url(../img/sub/bg_visual_newsroom.jpg);}

/* sub newsroom news */



